.topnav {
  background-color: rgb(240, 235, 235);
  overflow: hidden;
  margin-top: -7px;
} 

 .topnav a {
  float: right;
  color: rgb(218, 47, 75);
  text-align: center;
  padding: 10px 9px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

#brand{
  float: left;
  color: rgb(218, 47, 75);
}